<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let room of chatRooms" (click)="goToChatroom(room)">
      <ion-avatar item-start>
        <ion-icon *ngIf="!room.chatroomImgUrl" name="contact" ios="ios-contact-outline" class="profile-icon"></ion-icon>
        <img *ngIf="room.chatroomImgUrl" [src]="room.chatroomImgUrl"/>
      </ion-avatar>
      <h2 *ngFor="let userAccess of room.userAccess; let i = index">
        <span *ngIf="userAccess.id != user.id">{{userAccess.firstname}}<span *ngIf="i < room.userAccess.length && i > 1">,&nbsp;</span></span>
      </h2>
      <br>
      <p [innerHTML]="room.lastMessage" [ngClass]="{'messageNotRead':lastMessageTimestamp == 0}"></p>
      <div *ngIf="user.typeOfUser == globals.coach" class="indicator" item-end [ngStyle]="{'background-color':room.indicator}"></div>
    </ion-item>
  </ion-list>
</ion-content>
