<ion-item-group>
  <ion-item class="survey-body" text-wrap>
    <h3> <!--*ngIf="user.typeOfUser == globals.coachee">-->{{message.message}}</h3>
    <h2>{{message.survey.question}}</h2>
    <p *ngFor="let a of message.survey.answers" class="student-answer">
        <span *ngIf="user.typeOfUser == globals.coach" >
            <span *ngIf="getUserNameById(a.id) != ''"><b>{{getUserNameById(a.id)}}:</b>&nbsp;{{a.value}}</span>
        </span>
    </p>
  </ion-item>

  <ion-item class="input-wrap">
    <ion-range min="{{message.survey.range.startAt}}"
               max="{{message.survey.range.stopAt}}"
               step="{{message.survey.range.step}}"
               [(ngModel)]="answer"
               pin="true"
               (ionBlur)="sendAnswer($event)"
    >
      <ion-icon range-left name="remove"></ion-icon>
      <ion-icon range-right name="add"></ion-icon>
    </ion-range>
  </ion-item>

</ion-item-group>